.checkbox_radio input {
    display: none;
}

.checkbox_radio {
    display: flex;
    width: 24px;
    height: 26px;
    padding: 12px 13px;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.05);
}
