.ShareButton {
    gap: 10px;
}

.ShareButton button {
    display: flex;
    width: 305px;
    height: 60px;
    padding: 2px 29px 0px 29px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 24px;
    background-color: #fafcff;
    box-shadow: 0px -8px 24px 0px rgba(170, 185, 223, 0.45) inset,
        0px 4px 4px 0px rgba(83, 110, 161, 0.1);

    color: #607ba3;
    text-align: center;
    text-shadow: 0px 4px 8px rgba(32, 75, 255, 0.15);
    font-family: 'Cafe24Ssurround';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
